header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 100%;
}

.header__logo {
    width: 162px;
    height: 44px;
}

body{
    margin: 0;
    padding: 0;
}